.headerPage {
    background-color: #F8F9FA;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 0 #00000050;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 15px 160px; */
}

.btnHeader {
    height: 35px;
    width: 64px;
    border-radius: 8px;
    background-color: #E9ECEF;
    cursor: pointer;
    border: none;
    text-align: center;
    box-shadow: 0 0 5px 0 #00000048;
}

.btnHeader:hover {
    background-color: #e9ecef8a;
    box-shadow: 0 0 10px 0 #00000048;
}