.ulList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 0;
}

.liCard {
  width: 93%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f8f9fa;
  box-shadow: 0 0 5px 0 #00000048;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
}

.divDescription {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.textDescription{
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 10px;
}

.textType {
  font-size: 18px;
  font-weight: 500;
  line-height: 10px;
}

.divValue {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.iconDelete {
  cursor: pointer;
}

.textValues{
  font-family: Nunito;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px; 
}
