@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

.divBody {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Inter;
}

.divMain {
    padding: 25px 0;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sectionForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding-top: 20px;
}

.sectionCard {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}