.divTotal {
    width: 110%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1.8px solid #cecece;
}

.divContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.divTotalValue{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 0;
}