.formInput {
    box-shadow: 0 0 10px 0 #00000048;
    padding: 15px;
    border-radius: 8px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.labelForm {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;   
}

.inputDescription {
    width: 100%;
    margin: 0 auto;
    height: 45px;
    background-color: #F8F9FA;
    box-shadow: 0 0 5px 0 #00000048;
    border: none;
    border-radius: 8px;
}

.inputDescription:hover {
    box-shadow: 0 0 10px 0 #00000048;
}

.divInputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.example{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;   
}

.divSelect {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.inputValue {
    height: 45px;
    width: 80%;
    background-color: #F8F9FA;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 #00000048;
}

.inputValue:hover {
    box-shadow: 0 0 10px 0 #00000048;
}

.selectTypeValue {
    background-color: #F8F9FA;
    height: 45px;
    border: none;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 5px 0 #00000048;
}

.optionsSelect {
    background-color: #F8F9FA;
    height: 45px;
    border: none;
    width: 100%;
    border-radius: 8px;
}

.btnForm {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;  
    background-color: #FD377E;  
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px 0 #00000048;

}

.btnForm:hover {
    background-color: white;
    color: #FD377E;  
    border: 2px solid #FD377E ;
}